---
import Email from '@/icons/email.svg';
import Phone from '@/icons/phone.svg';
import Map from '@/icons/map.svg';
import Website from '@/icons/website.svg';
import { Image } from 'astro:assets';
const contacts = [
  {
    Icon: Email,
    label: 'Andrew@byelorussianmission.org',
    href: 'mailto:Andrew@byelorussianmission.org',
  },
  {
    Icon: Phone,
    label: '7703563592',
    href: 'tel:7703563592',
  },
  {
    Icon: Map,
    label: '3395 Chamblee Gap Rd, Cumming, Georgia, United States, 30040',
    href: 'https://www.google.com/maps/search/?api=1&query=3395%20Chamblee%20Gap%20Rd%20Cumming%20Georgia%20United%20States%2030040',
  },
  {
    Icon: Website,
    label: 'belarusmission.org',
    href: 'https://byelorussianmission.org',
  },
];
---

<div class="relative mt-auto mx-auto w-149px">
  <div id="openModal" class="cursor-pointer py-3 mb-5 bg-white/80 rounded-20px backdrop-blur-3xl grid place-items-center">
    <h2 class="text-30px mb-0.3 tracking-tighter">Contact</h2>
    <Image class="size-43px" src={import('@/assets/contacts.png')} alt="contact" quality={100} />
  </div>

  <dialog id="myModal" class="fixed z-50 backdrop:bg-black/50
		   max-w-375px w-full
		   p-6 rounded-lg
		   bg-white
		   shadow-xl
		   transition-all">
    <div class="flex justify-between items-center">
      <h2 class="flex-auto text-center text-xl">Contact</h2>
      <button id="closeModal" class="text-gray-600 hover:text-gray-900"> ✕ </button>
    </div>
    <div class="pt-5">
      <div class="flex flex-col items-center gap-3">
        <h2 class="text-xl">Andrew Ryzhkov</h2>
        <h3 class="text-xl">President · Belarus Mission</h3>
      </div>
      <div class="mt-6 space-y-2">
        {
          contacts.map(({ Icon, label, href }) => (
            <a href={href} class="flex items-center gap-3 p-3 rounded-lg hover:bg-gray-100 transition-colors" target="_blank" rel="noopener noreferrer">
              <Icon class="w-6 h-6" />
              <span>{label}</span>
            </a>
          ))
        }
      </div>
      <div class="mt-6 flex justify-center">
        <button id="downloadVcf" class="px-4 py-2 rounded-full border-2 hover:bg-gray-100 transition-colors flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"
            ></path>
          </svg>
          Save Contact
        </button>
      </div>
    </div>
  </dialog>
</div>

<script>
  const modal = document.querySelector('#myModal') as HTMLDialogElement;
  const openButton = document.querySelector('#openModal');
  const closeButton = document.querySelector('#closeModal');
  const downloadButton = document.querySelector('#downloadVcf');

  openButton?.addEventListener('click', () => {
    modal?.showModal();
  });

  closeButton?.addEventListener('click', () => {
    modal?.close();
  });

  modal.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.close();
    }
  });

  function generateVCard() {
    const vcard = [
      'BEGIN:VCARD',
      'VERSION:3.0',
      `FN:Andrew Ryzhkov`,
      `N:Ryzhkov;Andrew;;;`,
      `TITLE:President · Belarus Mission`,
      `EMAIL:Andrew@byelorussianmission.org`,
      `TEL:7703563592`,
      `ADR:;;3395 Chamblee Gap Rd;Cumming;Georgia;30040;United States`,
      `URL:https://byelorussianmission.org`,
      `URL;TYPE=connect:https://connect.belarusmission.org`,
      `PHOTO;ENCODING=b;TYPE=JPEG:/9j/4QDKRXhpZgAATU0AKgAAAAgABgESAAMAAAABAAEAAAEaAAUAAAABAAAAVgEbAAUAAAABAAAAXgEoAAMAAAABAAIAAAITAAMAAAABAAEAAIdpAAQAAAABAAAAZgAAAAAAAABIAAAAAQAAAEgAAAABAAeQAAAHAAAABDAyMjGRAQAHAAAABAECAwCgAAAHAAAABDAxMDCgAQADAAAAAQABAACgAgAEAAAAAQAAAfSgAwAEAAAAAQAAAfSkBgADAAAAAQAAAAAAAAAAAAD/2wCEABwcHBwcHDAcHDBEMDAwRFxEREREXHRcXFxcXHSMdHR0dHR0jIyMjIyMjIyoqKioqKjExMTExNzc3Nzc3Nzc3NwBIiQkODQ4YDQ0YOacgJzm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5v/dAAQAIP/AABEIAfQB9AMBIgACEQEDEQH/xAGiAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgsQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+gEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoLEQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AIaSlpVFAiRFq0q1GgxVlBjpQA9BipwKYBUopgKBS0dqWgAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooASmmn0mKAIsVERU9MNAFVhVdlxV0j0qBhQBWptPIxSUgG0UtFACY9KKWimAlLRSUgClpKKAFopKKADiil7UlACUlFFMBKSiikAUtJSigAxRS0UAFFFFAwooooAbT1ptPWgRaXpS0i9KdTA//QhqZFpiirSLigQ9FqyopiipgKYDgKfiiloAWiiigAooooAKKKKACikzRmgBaKTNJmgB1FNozQA6im5pM0APopmaM0APopmaXNADqKSloAKKKKACiiigBpFNxTqSgCI1CVqyRUZHagCmyiocYq4VFQlaAIaTGKdjtSdKQBSYpaXtTAZikpxptIBKWikoAWkpaTigApKKSmAUlFJSGFFFFAC0UUUALiigU6gQlFFFABRRRQMMU5OtJTl60CLK9KdTR0paYH/9F6LVpVqNR6VYUUxDwKlApAMU8UAHFOpKUUAFFFFABSUtNoAKTNJTM4oAfmjdUO6k3UATbqN1Qb6bvoAn3Ubqrb6YZKALW6k3VU83FN82gRc30b6o+bSiWgC+GqQGqiPU6mgZPTqjBxTHmRBzSGT9KaXA4rLkvCeB0oh8+f7vA9aANLeKBz0oSEKOeam4HAouFhgU0u0UtFA7DdoppjHY0+koHykJibtUDLjirtLgEYNArGWUxUe2tJ4UP3eKpSo0X3ulArEO3FJSeatG+gLBTaXORxTaBBSU6koAbRRRTAKbRSUgCiigUAFLRSigYUUtGKACilooASiiloAMUYpaKBCU5OtJinrQMsDpS0i9KWmI//0ryrU6imKKmApiHCnCkpaAFooFFABRRRQAnammndqaaAIycVCzVI1VXoEIXxTPMqJjUWaALPmUwvUNIRQIkMlML1GaiPFICUyUzzarscUzNAy15lPVqqCrEfWgDRjParanFU4+lDSEHAoBE8lwFGFrOeRnOBT2rStLYIPMbk/wAqCrENtYn78/4LWqAq8DijpSfSkVYWkpKSkMdSUlNzQA6kpKKBjqKbRQIdmkO0jB6UlJQFjLubXZ+8i5Hp6VTVgetdDWReQKh8xehpiaK4c7+alqnx0zVoGmSOopKKBBSUtJTAbSUtNpDClpaWgAp1JS0AFLRRQAUUUUAGKKKKACgUUUALTlpgp69aALK9KWmjpS0CP//T1gKkFItPpiCloooAKKKKACiiigBO1NNO7U00AQNVZ6tNVZ6BFVqhFTNUVIQ7FJtpwp+KAK5Wo2WrJFRNQBTYVDVphVdhigYq1Yj61WWp4zzQI0VbahNQbunPWnn/AFRxVHec4FBSNO3UFs4zWwMDisy3+VQK0FPGKkpD/pRTc03NBRJkUmaZSZoGPzRmm0lIB2aKbRwOlAC5pc0w0nSgdh2aKjyO1KDQIfmo5AChFLmmsRimhGE67TgUsL87Pyp8xCtVRThxjsaog0KXikooEFFOooAZSYp9FAxtLS0UAGKWiigAopKKAFopO1FABRSUUALQKSigB3FPSmU5aALI6UtIvSloEf/U2wKdSUtMQCiiigAooooAKKKKAE7U007tTTQBC1Vnqy1VXoEVWqKpG9qjpCJBT6jzTs0hCmoWqQ1G2KQkQNUDCp2qI0ykQ1KnBqPFPSmMuyNthwO/FVosD+VSy/6tfrTY+TgUDRoRH5avKfSsyMHpWknSpLRLS/SkozSKFxRimbhRvoAdxTaM0cUAHtSiko6UDHU2jdim7hSATGKUcdKM+lM3UAKTiqzPxinsapyNjimiWVJyDUCDn/Panv6U3GOlWiC+v3RT8VFCcxipaBBRS0vFADaKXikoAKKKSgBaSkpM0DHUmabmkzQA+kpuaM0APpOKZmjNAh/FGaZmigB+aehFQ05DzQMur0p1RA8UuaBH/9XcpRRRTEFFFFABRRRQAUUUUAJ2ppp3am0AQtVV6ttVV6QioaiqwRUBHNITCnCkxTgKRIVEakNRGkBEahNSmoGqkUhlTJ1qKp0FMCaT7iKPWhFxwKeRwKApzxSZSJ4+uK01GBiq8EQAqZ32LSLAsB1pN61mSXOelVjcMOlIZsb0o3DtWD9oepkuXHFAXNjOKcGqgs2RUqNkYqSi3vxTN9QO22ozIBQMsl6QNxVJp0Wmfal7UybmkDRms37V6VMs2TTsFy2R6VTnXuKuKcjio254pAzIYUmD92rE6BTj1qEdj+FUjOxPb8JUuaYgAXilqgH5ozTKKBD803NNooAdmm5pKSgBc0maKKAEopcUUDEopaKADFFLSUCClpKWgAoBptAoAuL0paYvSnUwP//W3aKKKYgooooAKKKKACiiigBKQ0tIaAImqs1WWqBqQisRUBFWDURFITGgUuKMUUiRpqJhUpqMimMgIqswq2elQMKBkQqdOKjAFWUjbGQDigCcDgUqDL4FSRj5DjtUtsveky0tC6owMVm3Dl2KitJuEqhs5yKTLK6QgdqlMMYHOBVea62/JH1rPkMrfeJoAvOkI6GodoHSqqKzEAcVMoO7b0oaEiZTjgVoRDiqESsGwa24lG2pKKc33aoMxxitiZBtrHlODigCuQTTfLB709s/QUwuU4Apkk6wdgaTa0VMW67OvHtVjzM8feU96AJ4Zc4q7j0rMCYORWlGcjFAyrcJxVMDnitOcfLVNRzVIliL93FLxSldoxSYI7UxBSZpuabmmIfmkzUeaTNAEmaKZxThQA8UUgp9ACUYp2KXFIBmKMU/FGKAG0U7FGKAG4pMU/FGKYEZpB1p54pq9aQFhelOpo6UtMD/192iiimIKKKKACiiigAooooASkNLSGgCI1A1TtUBpCK5qI1OagPWkJhRiinUiSIimEVIRTSKYERFQMtWiOKhYUhhboplAbp1rXF3Ex2jj0rIjO1g3pU6x/vSPypM2pJWNMkMuBUdv3A7VCjFFANWYsDOO5oG0SPkDiqUkcsg2r8oq/xTD04oGjPW38sYIzTGQDp09KsujH7vFVTAT1zSHYiLY4FPXjqOtSLAegqdYAOtMVhioSc1oIMLiottSg8UAMkGVrNaPBzWi/C1XxxSGZ7ImcmmtHG/UVdMQPSq7QY6cUxWK4t0/hBp4tSOU/KpAso4BqVP1pAkMjHYjB9KuxgAdaYPLb7wqURqOlILBIMoRVJUw2B61odsVSzsY1Qix+7X5jyab9qTofyqnIzPwOlV2jw2Km5aiTyhQ3ydDyKgNTvxx6CoDWiMWNpBTSR0pM0ySSnioQalB7CgZMKcBTBTxQA7FFFFIAooooAKKKKACkpaKAGGmjrTqRetAE46UtA6UtMD/9DdopKKYhaSkpM0AOopuaWgB1FJRQAlNJpT0qM0gGNUROKeTxUDGgQhqA04mo6kljqM03OKTNIkWkpM0lACGozUhqM0DGgVfhxs3+nFUKt25yrKKLGlPcjlmO4Dt0rRi4WqKxBplB7HP5VczhjSRuyUnsKbTlAPNLgDimITFGwU/pTSyrQAu0AUzenQVTmnJ+UVYgChM0DJ6dTdydjTGlA4FMQ5hxVfpxT/ADRQNp5pDEGD0p2ztUEi7TuWnxzBhikA7YO1J5a96lo4oAj2CkzjindKib1FIBc1TuDg5FWMjtULIHRx+VNE2IYXLDBqRl+cGoYwQcVafhc0kW9EVHOSTUDVOahIFaHOQGgU40lMQ4VKtRgVMtAEoFSCmipAPSkAUuKUClxQMbijFOxRigBuKMU7FGKAG4oxTsUuKAIiKaBUpGKZjmmBKBxS4pV6UtAH/9HcpKWmmmIQ0zNKfSm0gFzThUdOFCAlopop1MBKibipaiakBE1VHNWm9KrMKRLK+aTNBFMqSB+aSmZpaQDs0lNpKYx1RmnVG1Awq1akCTHqKpipEbawYdqocTW8n+MH6U3o+KCxVAV6GlwQwJ71B0EoIAxTdwFRM2KiL0gJzIBVWSbsKjZ6hzk4oGPC5p7GVFwvIqWNRUxUHiqsSZYuZQcNyKk87I4p0kYqrgjgUCuTeeRTPtT5wBxUO1ianWL1pBcmEzOuBSAlTmplTAxQyjpSKuTJKMVJuz0qgPlNSh6BotZFNJHSoQ/alY4xj1pANzQnp60nTgU4ZUdKYh4iCck1E5yKewLAE01umKpCk9CsRULCrBqBqsyIDRSmjFAhRU61EBUyigCYCpQKYtSrQMdRS4opAJRS0UAJQBTsUYpgNxRinYoxQBGajqYio+9ADwOKXFAHFLigR//S3KbTqQimIiNMqQ1GeKQCU4UylFAicU6mLT6YwqJqlpjAUhFZqrtVlhVdqQFZqiIFTGozSIGUUvFFFhDaUUlFIaA0win03igBgp4FJipAKoZetznCN25qaSQGQKKqR1YSNVyR1NKxpGWhXkOMD3pj8cCnSjg4pWHeoNCkxOdoqVIsc1ECFcsaUzjsaaEXlZRTS/pVLz1Hek88/wAIpgWmziodvfFRedJ1p/2ggcigYAEHpUoIFRG4PpTftCkYIoEXAwprcjAqpvU9DSiUigCTJHBpOnzDpSFwRiiHup6VLAUttYY71Mx4B96hZfmAFPP3cUhkpOATUyyh0piYJpwiRelWoiuFMIqXHGKYapIhsrtUDVYaoWFMRXNJTjQBQSKoqdaiHpU60ASrUwqJRxU6igYoFLinAUYoGNxRinYoxQA3FGKdijFADcUYp4FGKAIiKixVg1FigQoFGKcKKLAf/9PcoNFJTEMNRmpDUR6UgG0gpKBQInU08VXU9qmB4oAkpp6UmaSmBCwqu1WGqu9JgVmqKpDTKkzEpKdikoAbSUtJ2pDG0UUCgYVIKjqQGmItJVlelVFNWVplIrv3pgb5cVLJwxqseDiszYjkTPSolgBHNWPY06MYOKYFQ2PPymrMcRQEEZFWu1JnAplWRCiLtCkd6kmVdtG8Ubhiiwcox418vFQNGuelWC47Um6iwcpmPBIT6U9bdwOTWhSNgdKBWKYRl4FWQuxcUnSonfJwKQh2cvTxjNMUYGKVetIC5F3qTFNiHyfWn1oiGIajNS4qNh6UxEDVCwqdqhagRXNAFONAoJFFTJUQqdKBkyiphUa1MoosMdS0opaYDaKdRQA2jFOooAbRjinUUARnpUJqwRUR60AFFFLQB//U3KaadTDQIaaiNSGo2oAiJxTN4pHNVSeaRJeBqVTVJG7VYU8U0NFjNIT6VHnFGaAEPtULjipaY3SkBTNNpzcVHUmYtNpaSgBtJS0lAxvSk6U7FMNCAXNOU1FTlFMC0pqdXqmMing+lAFt8MM+lVzzShqX6UmaRfQjC4qRRT1UYpwGDxSLDtVZ8irZGKDHuoKRmlmpN5FXPs9N+zgUwK24mnjNS+VjpUnl4qQGCkNP27eKY3SgRE7cVEoJqUrk8UYxxTENJwKVRngUxueKsRLzQhl0DCgClpw4FGK0RA3FRkVLimGgRXNQtVhqgagRAQKQUpoFBI4danXFQLU60DLK9KmAqJanUUxjqdgUUvFACYFGBS4pcUANwKMCl4o4oATAopeKOKAGGoTU5qI0ANxRinYo20Af/9Xbppp9NNAiM1GwqU1ERQBVeqpq66+lVWWpIGg4qdGqripUoQIuA0UwdKfVFCU08U6mGkBXeoMVZaoGqSBtJRikoEFFFOpANpNlPxUigU0MiEQqTYBUoHFOxVFIi2Cl2DtUmKeBRYdiMR0/ZhaeBinEfLRYIorKccVIvWom45FAaoNCwD2pw46VWLU3zaY0WWYDim59aq+ZR5nGKCi1kCkLDtVffxTfNpEslJ9KjY0wvTc0CHdKYxpm7sKcooAFWrcQ5qJRVhMDBPQUIZZop30pK1MxKjNS0w0AV2FV2FWytQlaBFNhSAVZKUmykIiUYqygpFSp1XFMB6ipxTAPSpRQMeKKKdQA2ilxRigBKKXFGKAEopcUYoAYaYRU2KZigBmKMVJijFAH/9bcpKWimIYaiIqY1G3SkBARxVdhVk1AwpCIMYpyinYpRQIcKeKaKeKYxKYakpppAVzURqZuKgNIkTFMxUlIeKBWGAUoopRSsAoFTgcUxRipRTQxcUuKWlplDcU/FJThQA4CpUTIJPQVFkKMnoKfMxjsS47jNMaKZHaoG+U4q1wRkdxUciZWszRlRmIqPdxUhHY1EV7VRIbvSjNHSigBMmkzS4puKAFzRnAxSYpcUAKBUwHFNAxUgGKkpD0HOK0reIPG27o3y1nxoXIUdTW0oCKFHQVUEKRjWspUmF+xwK0MViu3+kPj1NaVvMJPlP3q1aMixTcU+kxUjIiKbtqfFJigCtso2VY20u2gLEAXFSBak204LigLDQMU8ClxTqACiloxQAUUUUAFFFFABRRRQAlJinUUANxRin0UAf/X3KKKKYhKYw4qSmGgCAioGqywqBhSEV6dSEUCkBKKcKjHSnDpTAdTTRTSe1AET1BVlqgpCEppFPpCOOKLCIqctIfagUgJ6dnFM4ooAlDCnbhUFFAE28DpTlYVWozgU0hhM/mMsS9CQKv6r8tngdsCs+yXzLxfRea176LzbZkH1/KrZUTJtnzGo9BVrHGKyrdsVqAjbxWRqRNGDVVlA4q/kVWkXnNBJVpKdto20AMoxT8dqXbigBmKcBinACnYpBYAKU0vQVYtIfNfefur/OmlcZctYtib26n9BU0rhIy/oKk6Vm6jJth2D+KtkjMxu+fXmpQSDle1RY9KeKtGbNa3uBL8rcNVqsDOORWnb3QPySfgahoaZdxS4pAVPQ5p2KkoTFLtFLS0AJgUmKdiigAoxRRQAUtLRQAlFLRQAlFLRQAlFLRQAlFLRQAUYoooA//Q3KKKKYgptLSUARtUDVORUJpCKxptTEVAaAHinioQcVJQA6m0tJQAmKYUqQUHpSAh2imYqYimFaAsQYoqUrSbaBWEFPFKFApSQKEgDFNIxSb8VGWzVKAD6ilPapBgDNVXNWkI0dJT95I/oAK2iMjFZekriFj6n+Va1SykctPF5ExUdDyKsxvxir17B5qEr95elZMTYqJI1TLeeaRqXg9KU9MVIFbFN9qf04o7UWCwzHFGKkpuPSgBv0pwoxilwei96EMRUMrhF71uIixIEXoKhtrfyV5+8etWD6VpFWM2xpNYF7L5k2B0Xite5l8qItXOA9c1okQx/YYpQcU3+GndqaJFpRxTaMUATbyFytTJeSrx1qovBpDx0pWGbEd6rcOMVcR0cfKc1zefSpkYryKVgudBRWZFeOow/Iq8k8T9D+FTYomxS0UUgCiiigAooxRigAooxS0AJRS0UAJRS0UAFFFFAH//0duiikpiFptFNoEIajNONMNICM1CRVg1GRQBBjFOFPxSYpAJTsUmKeKYBRinYpcUARYFIR6VKRioGkA4FNIBpGKZnFMMnaosmq5RXJi+BUOS3XpSYJ5PSmE5OKqwDsk8CnjFMHFSCmSDnA4qqeanY8VXbjpQB0GmAC0B9Sa0apafxZx/Si5uvJ+ROWrM0RZZawLqLyJuOjciphcSsfmapplNzBx95KGtBorRnNPNV4WBFWKyNCIikxTqKAEo9qKKAEAxWhawYHmv36D0FR28G872+6P1rTq4xIbEphp5qJiFUn0q0SY+pS8iIfWs0CpJWMkpf1NNHAJ9KszE6cUucDFNp4I6GgBaQUe9GVAx0oAPpTyB3NQGQ9FGabgk/PSAlyP4elP3dqiAHQUhPzYHagCwCacGI6VGpxT+2KYFyO5kTjOR71ejuo34PFY2akU+lJoaZvjB6UtYKSuh+U1fjvezj8qnlHcv0VGkkbj5TUlSMKKKKACiiigYUUUUCCilxRigdj//0tukpaKYhlNpxphpCGmm0tJQAykxTqKAI6TFSY44pMUAMpwo4FMZwvSiwE3AqJ5lUcVXaQsKgJz1q1ERK8pNV2fnikNR+1WSBNN3EUnTiigB29/rT1cYqP6U484oBEoINOz2FQgY6U/HrQAH7tVnxzU7HjiqzelAzprRglijei1lMxclz3qwZNunRqO/FV1GBipSKQgq7by4Gw/hVPFTqvy5FMY6SEZ8yL8R/hTasoSB9Ka8YPzL+IrOUS0ypRUm2k2+lZlEeKsQQhzk8LSxxbmwakl5+Veg7VcY3JkzQTZjanSlrEJK9KnivSp2y8j1rTlINI1m6hJsh2Dq3FaIIZcqeK569k82cgdF4FCEymBTug20nSkPtTIEFL0pB7U4DPFADfbNIqjPrTsYyKd0FMBuMcUUm4ZwKf0FAhvQUijihv7o708A4oGhwAApRSAcUY9KAHdKehqPpTlwKBodkdqdnFRcdBQPSgRYU46Grcd06cdRWb2wKXOOKLAmb8dxG/HQ1Px2rnDnrmpI7mSI/KePQ1HKVc36Kpw3iSHa/wAp/SrlTYoKMUUUAFFFFAH/09uiimk0xCHpUZpxqM0hDaKOKbQA6lxSUjOEGTQkA7HFV3mReBVZ7gt0qEtVqIrkxlJqLcenrUeaM4GKuwhxzTTR0FNNMkTHFJwKX2FMPtSGA+6TRj0oA+XinY7UAJ9KcPWkp3YYoBC8dBSjpSAdqKAEfgYFViPmAqy/SoYxmVRQBocvCkQ/hq0ICBzS2y1oFRikWZnlVNGnBWp9tKq4NAEQWnYxUuzBpNppAVWXacdj0puB0FW9meKq4O7aOaykjWLJYeM0rripVj8vk01hk4rSGxEii61TKk9K1GTPyik8oYqyTPEkkCkg8elUO/1q/e4UrEPrVECgTEOANtNFLnnFA9KCQA4op2MCkFAg5xx+VN5Jy3T0qXgDFN7UhjcKOlO4oxTG4GPWmIaOuamH3aYB29KkX7tA0A45FLSYo6UxDulKtNxinD7wpDE9qQGlORxSAUCHdOaBjGaTrx2pCR2oGPz2NM3UzoetJg0BYkB7Vr2VyX/cyf8AAT/SsWnKxQhl7HIpNAjqqKajiRFkHRhmnVmaBRRRQB//1NjNNJxSZqMmgkM00n0phOKj3UASZpc1DmnCgCYVn3EhJOOgq6x2oTWSxqoiY1Gxmlz2qNO9O46Vpcmwq0Z5oHAx60dOlAWFpPpQppwwOaAGk4GKZkdBStzTKAFXpiloXGMU760CDGKf24pvFOHAGKBi0nTpRR04FAIa3Sktx+9/ChulFsPnP0pDN23GBV3tVSHhauD7tJlkeKMU6lpANxxTuKKXgUAJj0pscSxjjk04yRr3pvmx9jSGNao+gqTKnoaYBk1QgVcClNPqneSeVAcdT8ooEYs7+ZKz+vT8KiPHSnY/So6ogAe9KB+VJThx0oAO1KvNHFLjAxQAZy3NJj0oxSDpimIKjHJ/QU9jgUg447UgHDAFSdjimCnj7pFA0J7Ug4oo9qdhCfSlB5pKWkNCnrxScDgU5utR0AO6Cmn0oPWkoEJ7UuMGk6UFuaQyQUEYFNDAVJjK0AbWnvuttv8AdOKvVlaYcF1+hrVqGWgooopDP//V0jUbcCnk8VC1BJXdqaD2pHpFqSSUcU9TUQpwNMaHTtiPArLar0x4xVA1rHYlkacEipAKiH38VOOmaoBTTTSnjimn0piF6U9+OBTBjNLSGNPpUeKe1M7UxDl4FSUxO4p44pDFAp3GBTfpTvSgBfpSZHWl+lIDxTEMbgYFPtF+Y0xvu1NZ8saRRuRj5asj7tQoPlqUfdqGWFOxTVFPpARMwWqzFn+lWiuab5eD8tNAVPL+bFTiBcVOEAp1FwIBCi9BUuMUtFADcVh6hJumCD+GtuRxGhc9BXMM24knvzTQmMPAx61H0NOI7+tJ0qkQL0oo+lHFMkUDnFKeTR0H1oFAwzjpRmjFMbpgd+KQIbwzZ7DpT/pSBccU8DsKaABTwM5A9KT6U3BBpDAmo800+lIOuKLisSZpaaOOKdmgBznrQfl4prcv+FK5/lSGN47UmPSk7UgpiCnFeaBUnagY3ZjgU5MgEGnA0D0oAvaaf3xH+zW5WDZfLcr75H6VuVmy0OoptFIZ/9a8ajPpSmmGgkjYVGBU1JxSEIBS4paWgLFOb722quKnmPzmq59K1WxNiM8MPephjGKgflxj6VPTQCE4pv0pxHGKAuKYrCjpS+1JggUvFA7EZPrSYpcelIOuKAsOUYp/0pF4pw6cUxB0FPPpTRTicUhoQ+1No44p1ADDjBqxYryxFVycZq3YDhvrQNG0vSpR0qMfdqUdKgsBS02l7UgF9qBSCnUALim06mUALSUUUAZmpS4jEQ/i6/QVitwMfnVq5k82dm7DgfhVRjmrRDG0o5HFJj0pRx0piAjApRzxSrnFOHC59aAEPtR04o4/CjocUAB45qKP5pN35UjnA2jvUsfUKKAQAGnD0FJ0FAFMQhNRk4NObioT14pMYpJpQaYRTh7VIDvan5wKj56UjcfjVASBsDPrSE+npR14FO2cClYdxmaUAgUu2jHcU7CuGfan5G0cdKbjHFL0WgLjsg05cdqhqQA0AWovlmQj1Fbua57djB9K2t9Qyok2RRkVDuo3VIz/17RqMmpMVERSJEpabSigQ6hiFFHFRSnAxTSApycmogxzUjVD0NaWFcZITgGphUD+1SIeBVIQv0oPFO6U3vQJAeDgU/tUffFS9BigZHTgMCkxTuvNFgE6U8cdKZT/AKUAHtSng02lIwM0ALxRyBikoPtTEJg9fwq5p/Q/WqRHNX9P6N9akpGwOlSjpUQ6VJ0FSyw6U4dKZ24py9KQDqKSnUAJTKcelNoAWq91L5MDOPoKsisfUZAZFi7LyaBGWcDgVGKewJ5FMHHStEQwApenSil4piFA54pT7dBSgYXNJ0pDE4pCwC8U761Xc5baKGJCL8zbjU49qaq4GKeBg0AL3IppNPbg1ESe1MBjccVF0NOY1GOtSND+9OFNxTwKAFxg03HzY9Kd2pq8k0xEtOA+UflUeaXcAuPegaJR0+lHaog+OKf5melMQ7b6f5xSbQQabu4xS7zz9KQ0O244FH0qPPNNyaYiTJIxWqXwKzFFSSybcehFZtFIv+ZR5lUVl4pfNqSj/9C3imFas7aYVoJK+0UmKlIph4pANziq0pzxVg8CqTkVcEIjJqPvSkjpTOR0rRkjCOKdF0xQT2qOMgNigRZOKZT2qMkY4oYwXHQVN2qIVLjnAoEHRcU3GBxSk80vsKAEOBS9qKB0pgLilPQYpvPandvxpDQcAfSk9qX602gBDWhp/VvqKzjWhp+Mvj2pDibHapKiqWpLE9qcvSmVIKQCilpBRSAQ9KSlptMAJCqWPQVzEshdix6sc/hWzqEmyHYP4v5VhFjmqiiWN6c0vBpMY4penHaqsSBU0uM8CgcdKkHC8igBp9B2o+lJx0FHSgBrttWooxk5NNYl22joKnUYFAWHGgCl9qQ+9AIGI7n3qFqkJ6VAaQxrU0DkUNQvWpBDsGndOKORxS5qkIDwMUidM0O3HFIOBigB3NGODSbu1J2xSHoLigcYplKKBEvHrTl5wBUQB6VKoAIpgAGMU5Rim8DpTGOOlMNCyjDpTbgfux7Gqyk1YfmFh6VLY0Rr0p1NXpTqzKP/0dbFNK1JSYpkkLLUJFWTURWkBVk+VazW61dum24UVQZuTVxRLD6U8Dg1EKd2NUIaw4qqeGqw3pVZutJgi0T0phxnFKOQtNAyaAuSLjtUxPGMdelQr1qU9OKYXG8UoxSdKWmK44D0NG0DgUo9KRuuaBhjHFOyADimegFKOlACZpKSj6UxB0GKv2B+ZqoH2q5YHEpHqKTKRtr1qWoV61MelQWNqXFRDrUme1IBaKKKAG02n1BO/lRM/oOKAMa+l3zEDoOBVEUN1poNWjNjh6CnUgpelUIXjoKVuTtHahPWm9+KQw7cVFI+FwtPZgvNQAFzk0CHomKmFL0xijoKENielIeOKQkdKjJFMQ4nC1ESKfwR0qOpGMNKuQc0pqM0gRJnHFO6VEOtPz2FNAI3SndOKjbrTunFABSgHpRjNTqMZxRYCMJUgTHA/wA8UoUUvSmkIQqBnNMLDPFIzdhUXU0DHlucUqimBanVcUIRIqipMDJX+8MUzOBQoOc0NDRAvAx6U6pJEO7K96j2PWViz//S2KKbS0xCEVGRT6Q0CMWf55Tj6CqrJg4FWCR5hPuaYfUVqiCuMindqkIGKaRigRCcdKhepW4qJqTBEoxsB9qFJxtHSjpGKaKENk6dakbrTIxTz1piWwhODSgGk6cU7pTAf2ph6U7PGKQ4oGNBAHFA603pxQOxoEHHSg+gpWyTj3pKQCCrFqdtwvvxUBPGBTojidPrQUjo4+tTGq8VTnpUloRPvVLUMfWps4qQE68Cl6Ck6UUAFZmpSbY1Qdz/ACrTrnr999wQOicU0hMp57UcfSm+1GfSrsQOIx0pvTigGnqQeT2oCw/IGQO386b0FIAMcHrUbkjp36UXAax34UdBThkDApQm2n7aBAc4GaZ0pxzt+tRmgYtNPTAopvagQo4pnBp3emYpDDvTTS4I6U3BpAOXAp1Rjine1AWGt96nDmoz1qROOKB2JwABxUi8A+lQBqkDYBpiSHjAPFRM5xgU847HNMC5p3CxFg1OkYzin7ABin/KppANC4FKxC015cZFVGct0ouFiZpO1Pjn2jaelVQpNPERpXHY0luExT/tCVm+UaPJNUI//9PWoopKZIlQXD7I+O9T1n3jfMF9qaAzsckigHFPwMUw4HStCAJ7U0kbaQmmE9hSuCQxqgY1KTURPakxpE5+4opFp2cKPpSrQhEyDFJTwcDim5OKoBw4FJ14pNxxgU4GgFYM88dKSl3dqTJHSgNBhHNGMUpNM5FAD2Jzkd6Qcc0oHANGPShAw9qYCAwI7GlzTT0wKBI6aL7tWO1U4GzEh9QKtDpUmqCPvUmKjiHWpqkBKT2pwppoAa7iNC56AVyjEsS5781u6jJsg2D+I/pWBkVcSJCik9qSlHTFMkMVJwOKRBg0FhyaBjWbaMU2Mc5NMPzNjtUoGOlICQsAaNwznFQ9Kd2xTAcc4GB9KjJNKegFMpDuBNJScYpaQhvrTc46U+mY4oAMmm0uKTFIYueMUZpKKAGE80bvSkYUoSkUG41KgJFCgCpARyBTsK4o4wKk3qBiq9Myaq5JYMlN3k1BUo4HFK4DpMliKVEp3GaegOeKpIGKqdqlVMD6UbtvFQGTB4oEiYle1JkVV3E0ZPpRcZ//1NSimUtMkWsu8z5uB6VqVl3bK8gx9KqImUScLioywqZ17CqzAirIDPam54xTaXPFSNCUxqfTGoBE56D6U9BTeoX6VOo4qkA7ouKj+lSHpTOO1ACe1O6DAplL2oAXik+lLnjFHSmIAvOKb3xT19fSmEd6QDuxAoAoX09aT2FCGJ7U2nY4pvA6mgEjZs3/AHAHpkVpJ92sSyYAMvvWzEflpMtEkfAP1qSmJ0/GnVAxaQ00mkZgqlvQZpgYWoPvn2jogxWeeBinud7Fj3OaZk9DVGYUUfLShT25oCxIOF+vT6VCzdhTnbAxUajJyaAHqNuRTs8YobrTc44pgFJg0ZxR04oEKfuim9OBTu1M6cUkMQ+1IfancdKQ8dKBCDNJz2pw9Kb70hjaSlNJ2oGFFJRikAAfNU+3HFQLw1Wh04qoiZCwwaQelTkZpuMHihgiI9MUBacqkmpwmOlCQEQXFJz0FWNgFSbkU8UwK6xndk8CpGcLwtRGZzxUe6lcLEmcmniMEHFQA881Oj9hxSuOwvl0eXUu7PpRmncLH//V0KUUgpRQSI52oTWK5rTuWxHtHesl+BiriJgp4xQVqMHFSe1WiLEDR+lR7TirZpP4c0MaKVI1W8LUBCipsBIvQVOOKrocqMVKM1SCw80zil9qbjFAWHH2pCe1NpKASFHBpelN+lN6UCsS5+XFIOlNJ+WnL6UAA/lSnCsR1qNuOlLjgUhjvYU32oxwcUYGKdhXLFq2JCPUfyregOVrm0bbIproLU/LigqJdXpxT6YvSn1mWQkYqpevstm9+KvMPSsXU3+5EPrVITMv3FJ70dBikHPtVGYntUg9fSmimseKTGhrMegp3QYpijuafkY4FIYp6mk5xSk/lRk9KAsN9qSlz3pu7HFMVh38JFJ0pAeDijNIdhaKQHtRmgQCm44x6U7PNIeKBjabTqSkAlJ0oopDQi9atK+KqDrxUy9acRMtBqk4x9argVIMhasSH+1GcDIqMN2pQcDimICaiqXYD0pQnX/PSkxor7aXae1TqtLiiwiHbShKmAA6Uq47d6BkWyjZT+nAozQB/9bRpRSUooJM655lx6VSertx/rj9KpPWiERHg0/tTD1qTtTQmQOTUW9qkeoKlghdxNRGn0yp6FliE/JirIPOKqw/cqyOtVElgDSHpmgUH7tUIZkmnE4bimCnN96kAgNG45pB3pO9AEvpSjrTewpw60ihp6U1TTjTV70yRadgU30p/rVEDO1b1mflrB7Vu2f3BQXE0AeBTgTTB0FOFQWPrm747rps9sCujrm7z/j6f8KcRPYpsKT+LFK3aj+KqMxDwePSo26gVK3X8KibqKljRJtFNAqSmCmApHyikxxTj90U3tSAbgUDpThTRTAQUgpRQKkYgowMUDvS9qYgHWmngmnD7wprdTQMKaadTTSBDaDS0hoGInWp6gTrU56U4gx6Gp/4PxqulWP4B9aolEJpgOBUh6Go6BEynmp06iq461YTqKBob06Up6mkPelPU0xDM96cOuaYelPFIZFRSUtAj//Z`,
      'END:VCARD',
    ].join('\n');

    const blob = new Blob([vcard], { type: 'text/vcard' });
    const url = window.URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'andrew_ryzhkov.vcf';
    a.click();
    window.URL.revokeObjectURL(url);
  }

  downloadButton?.addEventListener('click', generateVCard);
</script>

<style is:global>
  dialog {
    transition:
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete;

    animation: close 0.3s forwards;
    &[open] {
      animation: open 0.3s forwards;
    }
  }

  @keyframes open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes close {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
