---
import { AstroFont } from 'astro-font';
---

<!doctype html>
<html lang="en">
  <head>
    <AstroFont
      config={[
        {
          name: 'okomito',
          src: [
            {
              style: 'medium',
              weight: '500',
              path: './public/fonts/okomito-medium.woff2',
            },
          ],
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
      ]}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Byelorussian Mission, Inc. | Linktree</title>
	<meta property="og:image" content="/og_image.png"/>
    <meta property="og:title" content="Byelorussian Mission, Inc" />
    <meta property="og:description" content="Big Mission, Big Task, Even Larger God." />
  </head>
  <body class="font-sans font-medium min-h-full antialiased">
    <div class="overflow-x-clip">
      <main class="container pb-10">
        <slot />
      </main>
    </div>
  </body>
</html>
